{% extends 'news/base.html' %} {% block content %}
<div class="grid w-screen grid-cols-1 lg:grid-cols-2 mx-2">
  {% for row in rows %}
  <div className="card rounded-lg  ">
    {% for entry in row %}
    <div class="card-body shadow-xl h-96 bg-base-300 m-3">
      <h2 class="card-title">{{entry.title}}</h2>
      <p class="text-ellipsis">{{entry.description | safe}}</p>
      <div class="card-actions justify-end">
        <a href="{{entry.url}} " c target="_blank" class="btn btn-primary"
          >Read more</a
        >
      </div>
      <p class="card-subtitle text-base-content text-opacity-50">
        {{entry.publication_date}}
      </p>
    </div>

    {% endfor %}
  </div>
  {% endfor %} {% endblock %}
</div>
